  .boardContainer {
      width: min(80vw - 1rem, 80vh - 1rem);
      height: min(80vw - 1rem, 80vh - 1rem);
      max-width: 300px;
      max-height: 300px;
      position: relative;
  }

  .boardContainer svg {
      position: absolute;
      pointer-events: none;

  }

  .gameBoard {
      display: flex;
      flex-wrap: wrap;
      height: calc(100% - 40px);
      padding: 6.66% 8.33% 0 3.33%;
  }