# Node modules
node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директории сборки
dist/
build/

# Кэш и временные файлы TypeScript
*.tsbuildinfo

# Файлы IDE и редакторов
.vscode/
.idea/
*.swp
*.swo

# Файлы Vite, которые генерируются при сборке/разработке
vite.config.js
vite.config.d.ts

# Окружение
.env
.env.local
.env.*.local

# OS специфичные
.DS_Store
Thumbs.db
