 .tic-tac-toe-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 99vh;
    align-items: center;
}

header {
    text-align: center;
    font-size: 2rem;
}

main {
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
} 

