.target-wrapper {
    width: 100vw;
    max-width: 90vw;
    height: min(85vh, 90vw);
    margin: 0 auto;
  }

.darts-game {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    position: relative;
}

.counters-container {
  display: flex;
  justify-content: center;
}

